@use '../../styles/typography.scss' as *;

.post-info {
  display: flex;
  gap: 8px;

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__wrapper-text {
    color: var(--neutral-darkest);
  }

  &__author-name {
    color: var(--neutral-darkest);
    font-weight: $font-weight-semibold;
    margin-left: 4px;
  }

  &__date {
    color: var(--neutral-dark)
  }
}