.search-bar {
  width: 700px;
  position: relative;

  input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--neutral-extra-light);
    padding: 8px 50px 8px 16px;
    border-radius: 32px;
    color: var(--neutral-extra-dark);
    outline: none;

    &:hover, &:focus {
      border-color: var(--accent1-medium);
    }
  }

  button {
    position: absolute;
    right: 8px;
    top: 51%;
    transform: translateY(-50%);
    display: flex;
    background-color: var(--primary-light);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 430px) {
    display: none;
  }
}

.search-icon {
  stroke: var(--neutral-lightest);
  height: 24px;
  width: 24px;
}