@use "./styles/typography" as *;
@use "./styles/mixins" as *;
@use "./styles/typography-utils" as *;

:root {
  --neutral-lightest: #F0F0F2;
  --neutral-extra-light: #E0E2E6;
  --neutral-light: #C0C2C8;
  --neutral-medium: #9EA0A5;
  --neutral-dark: #7F8185;
  --neutral-extra-dark: #5E5F63;
  --neutral-darkest: #202122;

  --primary-light: #0B0E3A;
  --primary-medium: #060725;
  --primary-dark: #020318;

  --secondary-light: #EF4C84;
  --secondary-medium: #D31450;
  --secondary-dark: #8C1038;

  --accent1-light: #00BFC1;
  --accent1-medium: #009598;
  --accent1-dark: #006C6E;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html, body {
  font-family: 'open sans', 'sans-serif';
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  @include heading($font-h1);
}

h2 {
  @include heading($font-h2);
}

h3 {
  @include heading($font-h3);
}